/* PROPERTY DETAILS */
.details-card {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.details-card h2 {
  color: #0055aa;
  margin-bottom: 20px;
}