.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 500px;
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
  /* padding: 20px; */
  box-sizing: border-box;
}

.sidebar .logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;

 
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
      height: 100vh;
  display: block; /* ensure it's not flex */
}

.nav-links li {
  margin-bottom: 10px;
  display: block;
}

.nav-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.nav-links a:hover {
  color: #0056b3;
  text-decoration: underline;
}
